@font-face {
    font-family: 'medievalsharpregular';
    src: url('../styles/fonts/medievalsharp-regular-webfont.woff2') format('woff2'),
         url('../styles/fonts/medievalsharp-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}